body {
  padding: 0 50px 50px;
}

a {
  cursor: pointer;
}

h1 {
  margin-bottom: 30px;
}

.nav-pills > li > a.complete {
  background-color:#D1FFD1;
}

.dropdown-menu > li.complete {
  background-color:#D1FFD1;
}

[data-lesson-board] {
  width: 100%;
  min-height: 80px;
  background-color: #eef;
  padding: 30px;
}

/* ACE EDITOR STYLES */
.ace_editor {
  width: 100%;
  min-height: 200px;
}

.ace_valid_line {
  background-color:#D1FFD1;
}

.ace_invalid_line {
  background-color:#fee;
}

@media (min-height: 800px) {
  .ace_editor {
    min-height: 400px;
  }
}
